<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>School Exam Correction Java</display-name>

    <listener>
        <listener-class>com.schoolexam.config.AppServletContextListener</listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>dashboard</welcome-file>
    </welcome-file-list>
</web-app>
